.profile__status{
  margin-bottom: 10px;
  color: rgb(66, 65, 65);
  position: relative;
  display: inline-block;
}
.profile__rename{
  opacity: 0;
  transition: all .5s .2s linear;
}
.profile__noRename{
  opacity: 0;
  /* transition: all .5s .2s linear; */
}
.profile__status:hover .profile__rename{
    opacity: 1;
}
.profile__rename{
  position: absolute;
  font-size: 12px;
  background-color: #EDEEF0;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: calc(100% + 5px);
  left: calc(100% - 30px);
}
.profile__rename::before{
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #EDEEF0;
}