.error_list{
  color: red;
  border: 2px solid red;

}
.about__info p{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}
.about__info strong{
  display: inline-block;
  width: 160px;
  min-width: 160px;
  line-height: 20px;
}
.about__info span{
  display: inline-block;
  line-height: 20px;
}
.about__info textarea{
  line-height: 20px;
  resize: none;
  width: 100%;
}
.about__info__rename{
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  color: #4A77A8;
  border-radius: 5px;
  background-color: #EDEEF0;
  line-height: 40px;
  text-align: center;
  margin-top: 15px;
}