.dialog__item{
    min-height: 50px;
    text-align: center;
    border-bottom: 2px solid;
        display: flex;
    /* justify-content: center; */
    align-items: center;
}
a.actives{
    color: #2D90F3;
}
.dialog__item:last-child{
    min-height: 50px;
    border: none;
}
.dialog__item_user{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.dialog__item:hover{
    background-color: #E4EAEF;
}

.dialog__item_user_hoto{
    width: 40px;
    height: 40px;
    border: 2px solid #4A77A8;
    padding: 2px;
    border-radius: 50%;
    margin: 0 20px;
}