.dialog__messages{
  padding: 15px;
  margin-left: 200px;
  height: 500px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
  }

  .dialog__messages::-webkit-scrollbar{
      width: 0;
  }
  