.dialog__items{
  width: 200px;
  height: 500px;
  float: left;
  padding: 15px;
  overflow: auto;
  background-color: white;
  margin: 0 15px 0 0;
  border-radius: 5px;
}

.dialog__items::-webkit-scrollbar{
  width: 0;
}
