.users__point_body{
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  position: relative;
}
.user__description{
  position: absolute;
  top: 15px;
  bottom: 15px;
  min-width: 500px;
}
.user__status{
  position: absolute;
  bottom: 0;
}
.user__location{
  position: absolute;
  right: 15px;
}