.header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: #4A76A8;
    box-shadow: 0px 1px 4px 4px #bbcadb;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .header__wrap{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
