.musics{
    padding: 15px;
}
.musics__title{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.musics__items{
    padding: 15px;
    background-color: white;
}
.music__play{
    cursor: pointer;
}
.musics__item{
    padding: 15px;
    border: 2px solid #4A77A8;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music__current{
    background-color: #b8c4d1;
    padding: 15px;
    border: 2px solid #4A77A8;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}