.settings{
  padding: 15px;
  position: relative;
}
.settings__title{
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}
.settings__body{
  background-color: white;
  padding: 15px;
}
.is__ok{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(223, 243, 239, 0.384);
  z-index: 20;
}
.abs{
  position: absolute;
  margin-top: -20px;
}